/*
font-family: 'EB Garamond', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Jomolhari', serif;
*/

p{
    font-family: 'Jomolhari', serif;
    letter-spacing: 1px;
}

body{
    background: -webkit-linear-gradient(top, #11a0fd 0%, #006fb7 100%);
    background: linear-gradient(to bottom, #11a0fd 0%, #006fb7 100%);
}

h2, h3, p{
    text-shadow: 0px 3px 3px black;
}

.marginManual{
    margin-bottom: 50px;
}
h2{
    text-transform: capitalize;
    text-align: justify;
    font-size: 48px;
    font-size: 3rem;
}
.mainDiv{
    min-height: 90vh;
    font-family: 'EB Garamond', serif;
    color: #ecf0f1;
    font-weight: 600;
}
.logInBtn{
    padding: 0px;
    background-color: transparent;
    text-decoration: none;
}

#trial{
    margin-left: 15px;
}

#tryBtnDiv{
    text-align: center;
}

.tryBtn{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 600;
    padding: 10px 60px;
    font-size: 25px;
    text-transform: capitalize;
    background-color: #2d8249;
    border: 5px solid #275036;
    text-shadow: 0px 3px 3px black;
    box-shadow:  0px 3px 3px black;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.tryBtn:hover{
    background-color: #3AA85E;
    text-decoration: none;
    color: white;
    border: 5px solid #38724D;
}

.text-right{
    text-align: right;
}

.videoResponsive{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    box-shadow: 0px 5px 50px black;
}

.videoResponsive iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

.footer{
    min-height: 10vh;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: capitalize;
    font-size: 16px;
}

.footer p,
.footer a,
.footer span{
    font-family: 'Jomolhari', serif;
    color: #ecf0f1;
    text-shadow: 0px 3px 3px black;
}